#contact{
    border-radius: 5px;
    background-color: #C0C0C0;
    padding: 20px;
    width: 600px;
    margin: auto;
    
}
#h1contact{
    text-align: center;
    color: #ffffff;
   text-shadow: 1px 1px #000000;
}
#firstname, #lastname, #email, #username, #password, #message, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#message {
    padding-bottom: 100px;


}
#submitbtn{
  text-align: center;
}
#submit{
   background-color: #ff0000;
   color: #ffffff;
   width: 300px;
   border-radius: 5px;
   height: 30px;
}
#loginbtn{
  text-align: center;
}
#loginsubmit{
  background-color: #ff0000;
  color: #ffffff;
  width: 300px;
  border-radius: 5px;
  height: 30px;
}
#login, #newUser{
    border-radius: 5px;
    background-color: #C0C0C0;
    padding: 20px;
    width: 600px;
    margin: auto;
    
}
#thankyoumg{
    border-radius: 5px;
    background-color: #C0C0C0;
    padding: 20px;
    width: 600px;
    margin: auto;
    

}
#backhome{
  background-color: #ff0000;
  color: #ffffff;
  width: 300px;
  border-radius: 5px;
  height: 30px
}